<center style="width:100%;background-color:#eeeeee;padding-bottom:5%">
    <div style="max-width:680px;margin:0 auto">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="95%" style="margin:0 auto">
            <tbody>
            <!--            <tr>-->
            <!--                <td style="padding:24px 0 16px 0;text-align:center"><img-->
            <!--                    src=""-->
            <!--                    height="50" alt="Marca Projeto" title="Marca Projeto" border="0" style="max-width:100%" class="CToWUd"></td>-->
            <!--            </tr>-->
            <tr style="padding-bottom:21px">
                <td style="background-color:#ffffff;padding-bottom:21px;border-top-left-radius:4px!important;border-top-right-radius:4px!important">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                           style="border-top:4px solid #0097ff;border-radius:4px!important">
                        <tbody>
                        <tr>
                            <td style="padding:0 4%">
                                <h1
                                    style="margin:28px 0px 0px 0px;font-family:'Raleway-black',sans-serif;font-size:30px;font-weight:900;font-style:normal;font-stretch:normal;line-height:1.4;letter-spacing:0.1px;color:#4a4a4a;text-align:left;border-bottom:1px solid #d6d8db;padding-bottom:24px">
                                    E-mail de Recuperação de Senha!</h1>
                                <p style="margin:23px 0px 16px 0px;font-family:'Open Sans',sans-serif;font-size:16px;font-style:normal;font-stretch:normal;line-height:1.5;letter-spacing:normal;color:#40414d;text-align:left">
                                    Olá <b>${usuario.name}</b></p>
                                <p style="margin:0px 0px 24px 0px;font-family:'Open Sans',sans-serif;font-size:14px;font-style:normal;font-stretch:normal;line-height:1.5;letter-spacing:normal;color:#40414d;text-align:left">
                                   Uma nova senha foi gerada para você:</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 4%"><p
                                style="font-family:'Open Sans',sans-serif;font-size:14px;font-weight:bold;font-style:normal;font-stretch:normal;line-height:1.85;letter-spacing:normal;color:#40414d;margin:24px 0 0 0">
                                senha:</p>
                                <p style="display:inline-block!important;max-width:600px!important;word-wrap:break-word!important;word-break:break-all!important;word-break:break-word!important;margin:0">
                                   ${novaSenha}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="float:left;border-bottom-left-radius:4px;border-bottom-right-radius:4px;background-color:#fbfbfb;border-top:solid 1px #eaeaec;margin-bottom:13px!important">
                <td>
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                        <tr>
                            <td style="padding:4%"><p
                                style="font-family:'Open Sans',sans-serif;font-size:14px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:0px;color:#4a4a4a">
                                Este e-mail foi enviado a <b><a href="mailto:${usuario.name}" target="_blank">${usuario.email}</a></b>.
                                Para garantir o correto recebimento de nossos e-mails, adicione-nos a sua lista de e-mails seguros.</p></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
            <tr>
                <td style="padding:3% 0% 0 0%"><p
                    style="font-family:'OpenSans',sans-serif;font-size:13px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:1.75;letter-spacing:normal;text-align:center;color:#494b57;margin-bottom:0">
                    <b>© 2020 projeto</b> <span>-</span>
                    <br style="display:none">Todos os direitos
                    reservados.</p>
                    <p style="font-family:'OpenSans',sans-serif;font-size:13px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:1.75;letter-spacing:normal;text-align:center;color:#494b57;margin-top:0">
                        Este é um e-mail automático.</p></td>
            </tr>
            </tbody>
        </table>
    </div>
</center>